@import "tailwindcss";

@theme {
  /* Primary colors */
  --color-primary: #162013;
  --color-primary-dark: #162013;
  --color-primary-light: #2e4328;
  
  /* Secondary colors */
  --color-secondary: #2e4328;
  --color-secondary-dark: #21301c;
  --color-secondary-light: #426039;
  
  /* Accent colors */
  --color-accent: #54d22d;
  --color-accent-light: #a2c398;
  
  /* Neutral colors */
  --color-neutral: #ffffff;
  --color-neutral-dark: #000000;
}