@import "tailwindcss";

@layer base {
  body {
    font-family: 'Manrope', 'Noto Sans', sans-serif;
  }
}

@theme {
  /* Primary colors */
  --color-primary: #131720;
  --color-primary-dark: #0f141d;
  --color-primary-light: #1a2030;

  /* Secondary colors (cards/controls) */
  --color-secondary: #273044;
  --color-secondary-dark: #1c2231;
  --color-secondary-light: #384561;

  /* Accent colors */
  --color-accent: #234faf;
  --color-accent-light: #97a5c3;

  /* Neutral colors */
  --color-neutral: #ffffff;
  --color-neutral-dark: #000000;
}
